{#
/**
 * @file
 * Display Google review reviews list block.
 *
 * Available variables:
 * - reviews: Array with all review fields
 *   - author_name: String with username of review
 *   - author_url: URL to all reviews by user
 *   - profile_photo_url: URL to author profile photo
 *   - rating: String with user rating
 *   - relative_time_description: String with date when review was given
 *   - text: String with text of review
 * - place_id: String with Google Maps place id.
 *
 * @see googlereviews_theme()
 *
 * @ingroup themeable
 */
#}

{% if reviews %}
  <div class="reviews-container">
    {% for review in reviews %}
      <div class="review-container">
        <div class="review-rating-container">
          <a href="{{review.author_url}}" target="_blank">
            <div class="review-author-image">
              <img src="{{ review.profile_photo_url }}" alt="{{ review.author_name }} profile photo" />
            </div>
            <div class="review-rating-info">
              <div class="review-author-name">
                {{ review.author_name }}
              </div>
              <div class="review-rating">
                <div class="stars-wrapper">

                  <svg width="138" height="26" viewBox="0 0 138 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="stars-background">
                    <g class="stars" fill="#D9D9D9">
                      <path d="M13 0L16.7289 7.8676L25.3637 8.98278L19.0335 14.9604L20.6412 23.5172L13 19.344L5.35879 23.5172L6.9665 14.9604L0.636266 8.98278L9.27109 7.8676L13 0Z"/>
                      <path d="M41 0L44.7289 7.8676L53.3637 8.98278L47.0335 14.9604L48.6412 23.5172L41 19.344L33.3588 23.5172L34.9665 14.9604L28.6363 8.98278L37.2711 7.8676L41 0Z"/>
                      <path d="M69 0L72.7289 7.8676L81.3637 8.98278L75.0335 14.9604L76.6412 23.5172L69 19.344L61.3588 23.5172L62.9665 14.9604L56.6363 8.98278L65.2711 7.8676L69 0Z"/>
                      <path d="M97 0L100.729 7.8676L109.364 8.98278L103.034 14.9604L104.641 23.5172L97 19.344L89.3588 23.5172L90.9665 14.9604L84.6363 8.98278L93.2711 7.8676L97 0Z"/>
                      <path d="M125 0L128.729 7.8676L137.364 8.98278L131.034 14.9604L132.641 23.5172L125 19.344L117.359 23.5172L118.966 14.9604L112.636 8.98278L121.271 7.8676L125 0Z"/>
                    </g>
                  </svg>

                  <svg width="138" height="26" viewBox="0 0 138 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="stars-foreground">
                    <clipPath id="star-mask-{{ loop.index }}">
                      <rect x="0" y="0" stroke="#000000" stroke-miterlimit="10" width="{{ (review.rating/5)*100 }}%" height="100%"/>
                    </clipPath>
                    <g class="stars" fill="#FFEA00" clip-path="url(#star-mask-{{ loop.index }})">
                      <path d="M13 0L16.7289 7.8676L25.3637 8.98278L19.0335 14.9604L20.6412 23.5172L13 19.344L5.35879 23.5172L6.9665 14.9604L0.636266 8.98278L9.27109 7.8676L13 0Z"/>
                      <path d="M41 0L44.7289 7.8676L53.3637 8.98278L47.0335 14.9604L48.6412 23.5172L41 19.344L33.3588 23.5172L34.9665 14.9604L28.6363 8.98278L37.2711 7.8676L41 0Z"/>
                      <path d="M69 0L72.7289 7.8676L81.3637 8.98278L75.0335 14.9604L76.6412 23.5172L69 19.344L61.3588 23.5172L62.9665 14.9604L56.6363 8.98278L65.2711 7.8676L69 0Z"/>
                      <path d="M97 0L100.729 7.8676L109.364 8.98278L103.034 14.9604L104.641 23.5172L97 19.344L89.3588 23.5172L90.9665 14.9604L84.6363 8.98278L93.2711 7.8676L97 0Z"/>
                      <path d="M125 0L128.729 7.8676L137.364 8.98278L131.034 14.9604L132.641 23.5172L125 19.344L117.359 23.5172L118.966 14.9604L112.636 8.98278L121.271 7.8676L125 0Z"/>
                    </g>
                  </svg>

                </div>

                <div class="review-date">
                  {{ review.relative_time_description }}
                </div>

              </div>

          </div>
          </a>
        </div>
        </a>
        <div class="review-text">
          {{ review.text }}
        </div>

      </div>
    {% endfor %}
  </div>
{% endif %}
