{#
/**
 * @file
 * Display Google review ratings block.
 *
 * Available variables:
 * - user_ratings_total: String that shows amount of users leaving a review.
 * - rating: String with average total rating.
 * - rating_percentage: String showing total rating as percentage from 5 stars.
 * - place_id: String with Google Maps place id.
 *
 * @see googlereviews_theme()
 *
 * @ingroup themeable
 */
#}

<div class="googlereviews-ratings-container">

  <div class="rating-source-logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="google-logo-svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill-rule="evenodd" d="M12.004 2.037a9.581 9.581 0 0 1 6.67 2.593l-2.846 2.846-.197-.179a5.419 5.419 0 0 0-3.627-1.315c-2.601 0-4.81 1.754-5.597 4.117a5.971 5.971 0 0 0 0 3.817c.794 2.359 3 4.113 5.6 4.113 1.345 0 2.498-.344 3.392-.952l-.004.002a4.621 4.621 0 0 0 1.942-2.786l.051-.245h-5.384v-3.84h9.403c.117.667.172 1.349.172 2.026 0 3.033-1.084 5.598-2.97 7.334v-.002c-1.577 1.46-3.72 2.33-6.257 2.403l-.348.005a9.97 9.97 0 0 1-8.909-5.49l-.146-.304a9.977 9.977 0 0 1 .146-8.649l.145-.278a9.967 9.967 0 0 1 8.764-5.216Z"></path></svg>
  </div>

  <div class="rating-container">
    <div class="rating-value">{{ rating }}</div>

    <div class="stars-wrapper">

      <svg width="138" height="26" viewBox="0 0 138 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="stars-background">
        <g class="stars" stroke="#D9D9D9">
          <path d="M13 0L16.7289 7.8676L25.3637 8.98278L19.0335 14.9604L20.6412 23.5172L13 19.344L5.35879 23.5172L6.9665 14.9604L0.636266 8.98278L9.27109 7.8676L13 0Z"/>
          <path d="M41 0L44.7289 7.8676L53.3637 8.98278L47.0335 14.9604L48.6412 23.5172L41 19.344L33.3588 23.5172L34.9665 14.9604L28.6363 8.98278L37.2711 7.8676L41 0Z"/>
          <path d="M69 0L72.7289 7.8676L81.3637 8.98278L75.0335 14.9604L76.6412 23.5172L69 19.344L61.3588 23.5172L62.9665 14.9604L56.6363 8.98278L65.2711 7.8676L69 0Z"/>
          <path d="M97 0L100.729 7.8676L109.364 8.98278L103.034 14.9604L104.641 23.5172L97 19.344L89.3588 23.5172L90.9665 14.9604L84.6363 8.98278L93.2711 7.8676L97 0Z"/>
          <path d="M125 0L128.729 7.8676L137.364 8.98278L131.034 14.9604L132.641 23.5172L125 19.344L117.359 23.5172L118.966 14.9604L112.636 8.98278L121.271 7.8676L125 0Z"/>
        </g>
      </svg>

      <svg width="138" height="26" viewBox="0 0 138 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="stars-foreground">
        <clipPath id="star-mask">
          <rect x="0" y="0" stroke="#000000" stroke-miterlimit="10" width="{{ rating_percentage }}%" height="26"/>
        </clipPath>
        <g class="stars" fill="#FFEA00" clip-path="url(#star-mask)">
          <path d="M13 0L16.7289 7.8676L25.3637 8.98278L19.0335 14.9604L20.6412 23.5172L13 19.344L5.35879 23.5172L6.9665 14.9604L0.636266 8.98278L9.27109 7.8676L13 0Z"/>
          <path d="M41 0L44.7289 7.8676L53.3637 8.98278L47.0335 14.9604L48.6412 23.5172L41 19.344L33.3588 23.5172L34.9665 14.9604L28.6363 8.98278L37.2711 7.8676L41 0Z"/>
          <path d="M69 0L72.7289 7.8676L81.3637 8.98278L75.0335 14.9604L76.6412 23.5172L69 19.344L61.3588 23.5172L62.9665 14.9604L56.6363 8.98278L65.2711 7.8676L69 0Z"/>
          <path d="M97 0L100.729 7.8676L109.364 8.98278L103.034 14.9604L104.641 23.5172L97 19.344L89.3588 23.5172L90.9665 14.9604L84.6363 8.98278L93.2711 7.8676L97 0Z"/>
          <path d="M125 0L128.729 7.8676L137.364 8.98278L131.034 14.9604L132.641 23.5172L125 19.344L117.359 23.5172L118.966 14.9604L112.636 8.98278L121.271 7.8676L125 0Z"/>
        </g>
      </svg>

    </div>
  </div>

  <div class="total-reviews">
    <a href="https://search.google.com/local/reviews?placeid={{ place_id }}" target="_blank" class="reviews-link">{{ 'Read our @user_ratings_total reviews'|t({'@user_ratings_total': user_ratings_total}) }}</a>
  </div>
</div>
